.navbar-brand {
    margin-left: 3vw;
    font-weight: bold;
    color: darkgoldenrod !important;
    font-size: x-large;
}

.mr-auto-left {
    margin-left: auto;
}

.navbar-nav {
    text-align: center;
}

.form-inline {
    text-align: center;
    justify-content: center;
}

.search-field {
    text-align: center;
    margin: 10px;
} 

.nav-link {
    font-size: larger;
}

.dropdown-menu {
    text-align: center;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.darkCls {
    animation: startDark 0.5s forwards;
}

.lightCls {
    animation: startLight 0.5s forwards;
}

@keyframes startDark {
    from { background-color: whitesmoke; }
    to { background-color: black; }
}

@keyframes startLight {
    from { background-color: black; }
    to { background-color: whitesmoke; }
}