.navbar-brand {
    margin-left: 3vw;
    font-weight: bold;
    color: gold !important;
    font-size: x-large;
}

.mr-auto-left {
    margin-left: auto;
}

.navbar-nav {
    text-align: center;
}

.form-inline {
    text-align: center;
    justify-content: center;
}

.search-field {
    text-align: center;
    margin: 10px;
} 

.nav-link {
    font-size: larger;
}

.dropdown-menu {
    text-align: center;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}