.navbar-brand {
    margin-left: 3vw;
    font-weight: bold;
    color: darkgoldenrod;
    font-size: x-large;
}

.navbar-brand:hover {
    animation: changeNavBrandColor 0.3s forwards;
}

.navbar-brand:not(hover) {
    animation: changeBackNavBrandColor 0.3s forwards;
}

@keyframes changeNavBrandColor {
    from { color: darkgoldenrod }
    to { color: rgb(224, 176, 54) }
}

@keyframes changeBackNavBrandColor {
    from { color: rgb(224, 176, 54) }
    to { color: darkgoldenrod }
}

.mr-auto-left {
    margin-left: auto;
}

.navbar-nav {
    text-align: center;
}

.form-inline {
    text-align: center;
    justify-content: center;
}

.search-field {
    text-align: center;
    margin: 10px;
} 

.nav-link {
    font-size: larger;
}

.dropdown-menu {
    text-align: center;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.darkCls {
    animation: startDark 0.5s forwards;
}

.lightCls {
    animation: startLight 0.5s forwards;
}

@keyframes startDark {
    from { background-color: whitesmoke; }
    to { background-color: black; }
}

@keyframes startLight {
    from { background-color: black; }
    to { background-color: whitesmoke; }
}

.form-control {
    width: 80%;
}

.search-clear-div {
    display: contents;
}

.clear-img {
    width: 20px;
    margin-left: 4px;
}

.clear-img:hover {
    animation: biggerTheImage 0.5s forwards;
}

.clear-img:not(:hover) {
    animation: smallerTheImage 0.5s forwards;
}

@keyframes biggerTheImage {
    from { width: 20px; }
    to { width: 24px; }
}

@keyframes smallerTheImage {
    from { width: 24px; }
    to { width: 20px; }
}