.meats-header {
    color: white;
    margin-left: auto;
    font-family: "DanaYad";
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.4);
    width: fit-content;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.kosher-div {
    display: block;
    text-align: center;
    color: floralwhite;
    background-color: rgb(165, 42, 42, 0.9);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.kosher-img {
    width: 6rem;
    margin: 10px;
}

.push-meats {
    height: 15vh;
}