@media (max-width: 576px) {  
    .xs {color:red;font-weight:bold;}
  }
  
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
    .sm {color:red;font-weight:bold;}
}
   
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
    .md {color:red;font-weight:bold;}
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
    .lg {color:red;font-weight:bold;}
}
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}

.no-items-found-error {
    text-align: center;
    margin: auto;
    color: white;
    background-color: rgb(97, 7, 7, 0.8);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

.no-items-found-image {
    width: 3vw;
}

.card-title {
    text-align: center;
    height: 80px;
    background-color: aliceblue;
}

.card-text {
    text-align: right;
    font-size: large;
    height: 80px;
    font-weight: bold;
}

.card-img, .card-img-top {
    height: 220px;
}

.prop-header {
    font-weight: bold;
}

.card {
    color: black;
}

.card:hover {
    animation: changeColorIn 0.3s forwards;
}

.card:not(hover) {
    animation: changeColorOut 0.3s forwards;
}

@keyframes changeColorIn {
    from { color: black; }
    to { color: brown; }
}

@keyframes changeColorOut {
    from { color: brown; }
    to { color: black; }
}