.slide-div {
    color: black;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3) !important;
    margin-top: 3vh;
    border: 2px;
}

.images-div {
    position: relative;
    display: inline-flex;
}

.item-image {
    position: relative;
    width: 25vw;
    height: 20vw;
    max-width: 25vw;
    max-height: 20vw;
}

.pepper-image {
    position: absolute;
    max-width: 6vw;
    max-height: 6vw;
    bottom: 0;
    left: 3px;
}

.item-div:hover {
    animation: changeColor 0.5s forwards;
}

.images-div:hover > .item-image {
    animation: changeSize 0.5s forwards;
}

.images-div:not( :hover ) > .item-image {
    animation: changeSizeOut 0.5s forwards;
}

@keyframes changeColor {
    from {color: black;}
    to {color: gold;}
}

@keyframes changeSize {
    from { max-width: 25vw; max-height: 20vw; width: 25vw; height: 20vw;}
    to { max-width: 28vw; max-height: 22vw; width: 28vw; height: 22vw;}
}

@keyframes changeSizeOut {
    from { max-width: 28vw; max-height: 22vw; width: 28vw; height: 22vw;}
    to { max-width: 25vw; max-height: 20vw; width: 25vw; height: 20vw;}
}

.slick-prev:before, .slick-next:before {
    font-size: 30px !important;
    color: rgba(245, 255, 250) !important;
}

.slick-prev {
    left: -35px !important;
}

.headerItems {
    background-color: rgba(245, 255, 250, 0.8);
    color: black;
    font-weight: bold;
}

.header-icon {
    width: 3rem;
    margin: 4px;
}

.item-name {
    /* font-family: cursive; */
    margin-right: 10px;
}

.slick-slide img {
    display: inline-block !important;
}