.contact-content-div {
    font-size: larger;
    padding: 18px;
}

.end-contact {
    font-size: larger;
    text-decoration: underline;
}

.place-phone-icon {
    width: 1.5rem;
    margin: 10px;
}

.place-phone-href {
    color: wheat;
    transition: all .4s;
}

.place-phone-href:hover {
    text-decoration: none;
    color: rgb(202, 172, 117);
}

.place-phone-table {
    margin: auto;
}