.down-navbar {
    color: white;
    display: block;
}

.copyright-span {
    text-align: left;
}

.my-name {
    text-align: right;
}

.down-nav-link {
    font-size: medium;
    display: inline;
    padding: 0;
    transition: all .4s;
}

.down-nav-link:hover {
    text-decoration: none;
}

.about-site-table {
    /* border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: dashed; */
}

.my-name-href {
    color: yellowgreen;
}

.my-name-href:hover {
    color: rgb(124, 175, 23);
}