.down-navbar {
    color: white;
    display: block;
}

.copyright-span {
    text-align: left;
}

.my-name {
    text-align: right;
}

.down-nav-link {
    font-size: medium;
    display: inline;
    padding: 0;
}

.about-site-table {
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}