.down-navbar {
    color: white;
    display: block;
}

.copyright-span {
    text-align: left;
}

.my-name {
    text-align: right;
}

.down-nav-link {
    font-size: medium;
    display: inline;
    padding: 0;
}