.leaflet-container {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    border-style: inset;
    box-shadow: 0 0 4px #c14040e6;
}

@media (max-width: 576px) {  
    .leaflet-container {
        height: 25vh;
        width: 55vw;
    }
}
  
@media (min-width: 576px) and (max-width:768px) {  
    .leaflet-container {
        height: 30vh;
        width: 40vw;
    }
}

@media (min-width: 768px) {  
    .leaflet-container {
        height: 40vh;
        width: 50vw;
    }
}